.contentsDivClass{
    background-color: rgb(2, 161, 2);
}
.contentsFlex{
    display: flex;
    padding: 15px;
}
.contentsFlexImg {
    width: 350px;
    height: 300px;
}

.contentsFlexTxt {
    padding: 10px;
    font-size: 25px;
    line-height: 50px;
    justify-content: center;
}